In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,9/21/2021 23:19,-53.1500,-70.9167,48.18,80,100,7.67
1,1,Turan,VN,9/21/2021 23:23,16.0678,108.2208,78.85,94,75,1.14
2,2,Hithadhoo,MV,9/21/2021 23:20,-0.6000,73.0833,82.67,76,100,15.95
3,3,Severo-Kurilsk,RU,9/21/2021 23:24,50.6789,156.1250,51.17,76,37,11.10
4,4,Geraldton,AU,9/21/2021 23:24,-28.7667,114.6000,57.61,28,0,12.66

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=90) & (city_data_df["Max Temp"]>=75)]
preferred_cities_df.head(180)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Turan,VN,9/21/2021 23:23,16.0678,108.2208,78.85,94,75,1.14
2,2,Hithadhoo,MV,9/21/2021 23:20,-0.6000,73.0833,82.67,76,100,15.95
5,5,Sao Filipe,CV,9/21/2021 23:19,14.8961,-24.4956,79.27,81,22,7.00
8,8,Tuy Hoa,VN,9/21/2021 23:24,13.0833,109.3000,75.96,91,89,4.05
9,9,Kapaa,US,9/21/2021 23:21,22.0752,-159.3190,84.18,69,1,3.00
...,...,...,...,...,...,...,...,...,...,...
575,575,Havelock,US,9/21/2021 23:26,34.8791,-76.9013,80.94,84,100,9.91
578,578,Gigmoto,PH,9/21/2021 23:26,13.7796,124.3900,82.72,80,100,6.38
580,580,Nhamunda,BR,9/21/2021 23:26,-2.1861,-56.7131,80.15,68,81,1.99
583,583,Auburn,US,9/21/2021 23:26,47.3073,-122.2284,82.40,49,20,5.01
592,592,El Real De Santa Maria,PA,9/21/2021 23:26,8.1090,-77.7325,75.22,98,100,2.30

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, lat, Lng and add a new column "Hotel Name"
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1         Turan      VN     78.85  16.0678  108.2208
2     Hithadhoo      MV     82.67  -0.6000   73.0833
5    Sao Filipe      CV     79.27  14.8961  -24.4956
8       Tuy Hoa      VN     75.96  13.0833  109.3000
9         Kapaa      US     84.18  22.0752 -159.3190
19   Oum Hadjer      TD     83.95  13.2954   19.6966
21  Ayia Galini      GR     75.74  35.1000   24.6833
28     Karratha      AU     78.04 -20.7377  116.8463
33     Tarauaca      BR     80.69  -8.1614  -70.7656
36     Lorengau      PG     83.28  -2.0226  147.2712

In [25]:
# Set parameters to search for a hotel.
params = {"radius":5000,"type":"lodging","key": g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params,).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Turan,VN,78.85,16.0678,108.2208,Sun River Hotel
2,Hithadhoo,MV,82.67,-0.6000,73.0833,Scoop Guest House
5,Sao Filipe,CV,79.27,14.8961,-24.4956,Hotel Xaguate
8,Tuy Hoa,VN,75.96,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
9,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
19,Oum Hadjer,TD,83.95,13.2954,19.6966,
21,Ayia Galini,GR,75.74,35.1000,24.6833,Sunningdale Bungalows
28,Karratha,AU,78.04,-20.7377,116.8463,ibis Styles Karratha
33,Tarauaca,BR,80.69,-8.1614,-70.7656,Flat Temporada
36,Lorengau,PG,83.28,-2.0226,147.2712,Lorengau Harbourside Hotel

In [29]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300, point_radius=4) 
marker_layer=gmaps.marker_layer(locations)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))